name: Enable Automerge
on:
  pull_request:
    branches:
    - main
jobs:
  Enable-Automerge:
    runs-on: ubuntu-latest
    steps:
      - name: Auto Merge
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.TALK}}
